[Unit]
Description=Hydroponics Camera Web Server
After=network.target

[Service]
Type=simple
ExecStart=/home/tcar5787/Documents/hydromonitor_v2/venv/bin/python /home/tcar5787/Documents/hydromonitor_v2/hydro_cameras.py
WorkingDirectory=/home/tcar5787/Documents/hydromonitor_v2/
StandardOutput=journal
StandardError=inherit
Restart=on-failure
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
