[Unit]
Description=Hydroponics Monitoring GUI
After=network.target

[Service]
WorkingDirectory=/home/tcar5787/Documents/hydromonitor_v2/
ExecStart=/home/tcar5787/Documents/hydromonitor_v2/venv/bin/python3 hydroponics_gui.py
Restart=on-failure
Type=simple
StandardOutput=file:/home/tcar5787/Documents/hydromonitor_v2/logs/hydro_gui.log
StandardError=file:/home/tcar5787/Documents/hydromonitor_v2/logs/hydro_gui_error.logpip install 
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target