<!DOCTYPE html>
<html>
<head>
    <title>Hydroponics Monitor</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
      setTimeout(function() {
        window.location.reload(1);
      }, 3000); // Refresh every 3tock
      // 0 seconds
    </script>
</head>
<body>
    <h1>Hydroponics System Dashboard</h1>


    <div class="container">
        <div class="video">
            <h2>Daily Snapshot</h2>
            <h3>Top Garden</h3>
            <div id="top-snapshot">
              <img src="{{ top_image_path }}" width="480" alt="Top garden snapshot" />
            </div>
            <div id="top-live" style="display:none;">
            </div>
            <button onclick="toggleView('top')">Toggle View</button>

            <h3>Bottom Garden</h3>
            <div id="bottom-snapshot">
              <img src="{{ bottom_image_path }}" width="480" alt="Bottom garden snapshot" />
            </div>
            <div id="bottom-live" style="display:none;">
            </div>
            <button onclick="toggleView('bottom')">Toggle View</button>
        </div>
    </div>
<script>
  function toggleView(camera) {
    const snapshotDiv = document.getElementById(`${camera}-snapshot`);
    const liveDiv = document.getElementById(`${camera}-live`);

    if (snapshotDiv.style.display === "none") {
      snapshotDiv.style.display = "block";
      liveDiv.style.display = "none";
    } else {
      snapshotDiv.style.display = "none";
      liveDiv.style.display = "block";
    }
  }
</script>
</body>
</html>